@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
	margin: 0;
	padding: 0;
}


body{
	height: 100%;
}

.navbar{
	background: #2196F3;
	color: #FFFFFF !important;
	grid-area: navbar;
}

.title-navbar{
	display: flex;
	align-items: center;
}

#btn-menu{
	margin-right: 10px;
}

.main{
	display: grid;
	grid-template: "navbar navbar"
					"content content";
}

.menu-container{
	grid-area: menu-container;
	position: absolute;
	top: 56;
	width: 100%;
	height: calc(100% - 56px);
}

.menu-body{
	width: 70%;
	background: #343a40;
	height: 100%;
	color: #c2c7d0;
	padding-top: 10px;
}



.space-free{
	width: 30%;
	height: 100%;
	background: rgba(52,58,64, .7);
	float: right;
}

.item-menu{
	display: flex;
	height: 50px;
	padding: 0 20px;
	align-items: center;
}

.text-menu{
	margin-left: 10px;
}

.content{
	grid-area: content;
	font-family: 'Lato', sans-serif;
	align-items: center;
	background: #E7EEFB;
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 56px);
	justify-content: center;
}

.user-data{
	display: flex;
	align-items: center;
}

.user-name{
	color: #fff;
	margin: 0 10px;
}

.content-user-image{
	height: 40px;
	width: 40px;
	background: #F6F5FA;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-image{
	height: 40px;
	width: 30px;
}

.user-image{
	border-radius: 40px;
}

.btn-add-stop{
	height: 35%;
}

.space{
	background: yellow;
	height: 5%;
}

.view-stop{
	height: 35%;
}


.container-tbl-stop{
	display: none;
}

.tbl-stop td{
	text-transform: uppercase;
}

.btn-add-stop, .view-stop{
	align-items: center;
	display: flex;
	background: #FCFDFF;
	border-radius: 15px;
	padding: 20px;
	width: 90%;
}

.fa-plus{
	color: #8BC34A;
}

.fa-eye{
	color: #2196F3;
}

.icon-action{
	display: flex;
	font-size: 3em;
	justify-content: center;
	width: 30%;
}

.form-group-icon{
	position: relative;
}

.fa-search{
	position: absolute;
  	/*pointer-events: none;*/
  	bottom: 2;
  	right: 3;
	padding: 9px;
	background: #FFFFFF;
	color: #A6A6A6;
}

.content-time{
	display: flex;
	justify-content: space-between;
}

.group-time{
	width: calc(50% - 10px) !important;
}

.description-hour{
	font-size: 11px;
	color: #838383;
}

#ui-id-1, #ui-id-2,  #ui-id-3{
	z-index: 1050 !important;
}

.custom-switch{
	padding-left: 2.25rem !important;
	color: #737373;
}


#position_employee{
	display: none;
}


.msg-error-repeated, .msg-error-hour, .msg-error-machine{
	display: none;
}

.redClass{
	background: #FCCDCD;
}


.modal-footer{
	display: flex;
	justify-content: space-around;
}

.btn-close{
	color: #FFF;
}

.btn-save{
	background: #03A9F4;
	color: #FFF;
}

.btn-cancel{
	background: #F44336;
	color: #FFF;	
}

.btn-close{
	background: #4CAF50;
}

.cursor{
	cursor: pointer;
}



@media (min-width: 900px) {
	.main{
		display: grid;
		grid-template: "navbar navbar"
						"menu-container content";
	}

	#btn-menu{
		display: none;
	}

	.menu-container{
		grid-area: menu-container;
		top: 0;
		height: 100%;
		position: relative;
	}

	.space-free{
		display: none;
	}

	.menu-body{
		width: 100%;
	}

	.item-menu:hover{
		background: rgba(255,255,255,.1);
	}
	.content {
		grid-area: content;
		display: block;
		padding: 15px;
		width: calc(100vw - 160px);
  	}

  	.space{
  		display: none;
  	}

	.btn-add-stop{
  		width: 120px;
  		height: 20px;
  		color: #FFF;
		background: #8BC34A;
		box-shadow: none !important;
  	}

  	.fa-plus{
		color: #FFF;
		font-size: 15px;
	}

	.txt-description{
		display: none;
	}

	.btn-add-stop, .container-tbl-stop{
		align-items: center;
		border-radius: 5px;
	}

	.icon-action{
		display: flex;
		font-size: 1.5em;
		justify-content: center;
		width: 30%;
	}

	.view-stop{
		display: none;
	}

	.container-tbl-stop{
		display: block;
		background: #FFF;
		margin-top: 15px;
		padding: 20px;
	}
}