body{
	background: #E7EEFB;
}

.box-login{
	background: #FFFFFF;
	border-radius: 10px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	padding: 20px;
}

.header-login{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}

.logo{
	width: 60px;
}

.txt-title-box{
	color: #CDCBCB;
}

.txt-instructions{
	color: #6A6A6B
}

.link-register{
	text-align: center;
}