@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	height: 100%;
}

.navbar{
	background: #2196F3;
	color: #FFFFFF !important;
	grid-area: navbar;
}

.title-navbar{
	display: flex;
	align-items: center;
}

#btn-menu{
	margin-right: 10px;
}

.main{
	display: grid;
	grid-template: "navbar navbar"
					"content content";
}

.content{
	grid-area: content;
	font-family: 'Lato', sans-serif;
	align-items: center;
	background: #E7EEFB;
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 56px);
	justify-content: center;
}

.loader{
	display: none;
	height: 70px;
	width:  70px;
	border: solid 7px rgba(0, 0, 0, .1);
	border-left-color: #B1B1B1; 
	position: absolute;
	border-radius: 50%;
	top:  50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.user-data{
	display: flex;
	align-items: center;
}

.user-name{
	color: #fff;
	margin: 0 10px;
}

.content-user-image{
	height: 40px;
	width: 40px;
	background: #F6F5FA;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.user-image{
	height: 40px;
	width: 30px;
}

.user-image{
	border-radius: 40px;
}

.box-options-account{
	width: 150px;
	background: #ffffff;
	border-radius: 3px;
	position: absolute;
	right: 0;
	top: 44px;
	z-index: 1;
	display: none;
}

.item-option-account{
	color: #333333;
	display: flex;
	justify-content: center;
	height: 40px;
	align-items: center;
}

.item-option-account:hover{
	background: #f7f8f8;
	border-radius: 3px;
}

.btn-close{
	color: #FFF;
}

.btn-save{
	background: #03A9F4;
	color: #FFF;
}

.btn-cancel{
	background: #F44336;
	color: #FFF;	
}

.btn-close{
	background: #4CAF50;
}

.cursor{
	cursor: pointer;
}

.center-absolute{
	height: 100%;
	width: 100%;
	top: 0;
	position: absolute;
	bottom: 50%;
	transform: translate(50%);
	display: flex;
	align-items: center;
	border-radius: 0;
}

.machine-stoped{
	height: 100%;
	width: 3px;
	position: absolute;
	background: #F16363;
	top: 0;
	left: 0;
}

td{
	position: relative;
}


@media (min-width: 900px) {
	.main{
		width: 100%;
		display: grid;
		grid-template: "navbar navbar"
						"menu-container content";
	}

	.menu-container{
		display: block;
	}


	#btn-menu{
		display: none;
	}

	.navbar{
		width: 100%;
	}

	.menu-container{
		grid-area: menu-container;
		top: 0;
		height: 100%;
		position: relative;
		width: 160px;
	}

	.space-free{
		display: none;
	}

	.menu-body{
		width: 100%;
	}

	.item-menu:hover{
		background: rgba(255,255,255,.1);
	}

	.header-document{
		padding: 4px;
		color: #868686;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		width: 100%;
	}

	#date-request{
		width: 200px;
	}

	.content {
		grid-area: content;
		display: block;
		padding: 0 15px 15px 15px;
		width: calc(100vw - 160px);
  	}
}